$font-family-sans-serif:              "Fjalla One", "Helvetica Neue", Helvetica, Arial, sans-serif;

$brand-primary:                       #F4B600;
$brand-success:                       #FF3C06;
$brand-info:                          #AAD2C2;
$brand-warning:                       #8EB429;
$brand-danger:                        #93D3E1;

$navbar-default-link-color:           #FFF;
$navbar-default-bg:                   #262626;

$navbar-default-toggle-hover-bg:      #555;
$navbar-default-toggle-icon-bar-bg:   #FFF;
$navbar-default-toggle-border-color:  #FFF;