.code .navbar-nav > li:nth-of-type(3) > a {
  color: $brand-info;
  &:hover, &:active {
    color: lighten($brand-info, 20%);
  }
}

.code > .container-fluid {
  border-bottom: 2px solid #000;
  &:nth-of-type(odd) {
    @include background-left(saturate(lighten($brand-info, 10%), 15%));
  }
  &:nth-of-type(even) {
    @include background-right(lighten(desaturate($brand-danger, 5%), 5%));
  }
  &:first-of-type {
    background-image: url("../images/bluehat25c.png");
  }
  &:nth-of-type(2) {
    background-image: url("../images/THR10.png");
    background-size: 35%
  }
  &:nth-of-type(3) {
    background-image: url("../images/github10.png");
    border: 0;
  }
}

.code .col-xs-7 {
  @include page-content-styles;
}

@media screen and (max-width: 767px) {
  .code > .container-fluid:nth-of-type(n) {
    @include background-resize-mobile;
    .row .col-xs-7 {
      @include background-content-mobile;
    }
  }
}