.navbar-brand > a {
  color: $navbar-default-link-color;
  text-decoration: none;
  font-size: ceil(($font-size-large * 1.6));
  > img {
    float: left;
    height: 45px;
    margin-top: -13px;
    padding-right: 5px;
  }
  &:hover, &:active {
    color: $gray-lighter;
  }
}

.navbar {
  margin-bottom: 0;
}

.navbar-nav > li {
  > a {
    font-size: floor(($font-size-base * 1.2));
  }
  &:first-of-type > a:hover, &:first-of-type > a:active {
    color: $brand-primary;
  }
  &:nth-of-type(2) > a:hover, &:nth-of-type(2) > a:active {
    color: $brand-success;
  }
  &:nth-of-type(3) > a:hover, &:nth-of-type(3) > a:active {
    color: $brand-info;
  }
  &:nth-of-type(4) > a:hover, &:nth-of-type(4) > a:active {
    color: $brand-danger;
  }
}

p {
  font-family: Lato, Georgia, "Time New Roman", Times, serif;
  font-size: floor(($font-size-base * 1.25));
  color: #333;
}

@media screen and (max-width: 560px) {
  .navbar-brand > a {
    font-size: floor(($font-size-large * 1.2));
  }
}
