.homepage {
  .img-responsive {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .row {
    &:first-of-type {
      background: desaturate($brand-danger, 5%);
    }
    &:nth-of-type(2) {
      background: #FFF;
    }
    .col-sm-4 {
      padding: 10px 25px 20px 25px;
      .img-responsive {
        padding: 0 0 5px 0;
        max-width: 30%;
        margin: 0 auto;
      }
      p {
        color: #555;
        text-align: center;
        font-size: floor(($font-size-base * 1.15));
      }
      a {
        text-decoration: none;
        &:hover .img-responsive {
          opacity: .6;
        }
        h3 {
          color: #262626;
          margin-top: 10px;
          text-align: center;
        }
      }
      &:first-of-type > a:hover > h3, .row > &:first-of-type > a:active > h3 {
        color: saturate($brand-primary, 10%);
      }
      &:nth-of-type(2) > a:hover > h3, .row > &:nth-of-type(2) > a:hover > h3 {
        color: $brand-success;
      }
      &:nth-of-type(3) > a:hover > h3, &:nth-of-type(3) > a:hover > h3 {
        color: darken($brand-info, 10%);
      }
    }
  }
}

@media screen and (max-width: 975px) {
  .homepage .img-responsive {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 850px) {
  .homepage .img-responsive {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .homepage {
    .img-responsive {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .row:nth-of-type(2) .col-xs-12 img {
      max-width: 20%;
      float: left;
      padding: 0 15px 0 0;
      margin-right: 15px;
    }
    .row .col-xs-12 {
      padding: 10px 30px 0 20px;
      &:first-of-type {
        padding-top: 20px;
      }
      &:last-of-type {
        padding-bottom: 10px;
      }
      a {
        font-size: floor(($font-size-base * 1.7));
        h3 {
          text-align: left;
        }
      }
      p {
        font-size: floor(($font-size-base * 1.1));
        text-align: left;
      }
    }
  }
}